.App {
  text-align: center;
  margin: 0 50px 100px 50px;
}

/* オーバーレイ */
#overlay {
  /* 画面全体を覆う設定 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  /* 画面の中央に要素を表示させる設定 */
  display: flex;
  align-items: center;
  justify-content: center;
}
#content {
  z-index: 10;
  width: 50%;
  padding: 1em;
  background: #fff;
  display: flex;
  flex-direction: column;
}
#overlay-close-area {
  position: fixed;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#overlay-close-button {
  border: none;
  background: none;
  cursor: pointer;
  margin-left: auto;
}
